button{
  margin-left: 5px;
}

.table-actions{
  width: 150px;
}

#SideLog{
  padding-top: 8px;
}
#SideLogBody{
  padding-left: 10px;
}

#userName {
  padding-right: 33%;
}

*[data-href] {
  cursor: pointer;
} 

.click{
  cursor: pointer;
  pointer-events: auto;
}